#searchform{
    width: 100%;
    display: flex;
}

#inputsearch{
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0);

}

#searchform button{
    border: 0;

}