body{
  overflow-y: hidden;
}


.page {
    --background: #fafafa;
    --foreground: #fff;
  
    --text-primary: #000;
    --text-secondary: #666666;
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);
  }
  
  .main {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
    background-color: var(--foreground);
    padding: 40px 60px; 
  }
  
  .sectitle{
    font-size: 20px;
  }
  
  #searchbar{
    position: absolute;
    top: 40;
    width: calc(100% - 120px);
    height: auto;
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #f2f2f2;
  }
  
  #searchitems{
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .searchitem1{
    margin: 0 6px;
  }
  
  #inputsearch{
    justify-self: center;
    align-self: center;
    background-color: #ffffff00;
    border: 0;
    font-size:medium;
  }


  #searchmenucontainer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  
  #searchoptions{
    margin-top: 20px;
    width: 12vw;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid rgba(221, 221, 221, 0.699);
    border-radius: 20px;
    padding: 10px;
  }
  #searchoptions h1{
    font-size: medium;
  }

  #productslistcontainer{
    width: 30vw;
    height: auto;
  }
  
  .productcontainer{
    background-color: #fff;
    height: fit-content;
    padding: 10px;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.116);  
  }

  .productimagen{
    border-radius: 10px;
    background-color: rgb(245, 162, 187);
    overflow: hidden;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  .productimagen img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .productifocontainer h1{
    font-size: x-large;
  }
  
  
  
  
  
  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }
  
  .intro h1 {
    max-width: 320px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2.4px;
    text-wrap: balance;
    color: var(--text-primary);
  }
  
  .intro p {
    max-width: 440px;
    font-size: 18px;
    line-height: 32px;
    text-wrap: balance;
    color: var(--text-secondary);
  }
  
  .intro a {
    font-weight: 500;
    color: var(--text-primary);
  }
  
  .ctas {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 440px;
    gap: 16px;
    font-size: 14px;
  }
  
  .ctas a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 128px;
    border: 1px solid transparent;
    transition: 0.2s;
    cursor: pointer;
    width: fit-content;
    font-weight: 500;
  }
  
  a.primary {
    background: var(--text-primary);
    color: var(--background);
    gap: 8px;
  }
  
  a.secondary {
    border-color: var(--button-secondary-border);
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    a.primary:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.secondary:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  }
  
  @media (max-width: 600px) {
    .main {
      width: 100%;
      padding: 48px 24px;
    }

    #searchoptions{
      margin-top: 20px;
      width: fit-content;
      padding: 5px;
    }
    #searchoptions h1{
      font-size: small;
    }

    #searchoptions p{
      font-size: small;
    }
  

    .productcontainer{
      background-color: #fff;
      height: fit-content;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      margin-top: 20px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.116);  
    }
    .productifocontainer h1{
      font-size: smaller;
    }
    .productifocontainer p{
      font-size: smaller;
    }

    .productcontainer img{
      width: 90px;
      height: 90px;
    }

    #searchmenucontainer{
      justify-content: space-between;
    }

    #productslistcontainer{
      width: 60vw;
    }
  
    .intro {
      gap: 16px;
    }
  
    .intro h1 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -1.92px;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .logo {
      filter: invert();
    }
  
    .page {
      --background: #000;
      --foreground: #000;
  
      --text-primary: #ededed;
      --text-secondary: #999;
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
      --button-secondary-border: #1a1a1a;
    }
  }
  