.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 80%;
  flex-direction: column;
  align-items: center;
  background-color: var(--foreground);
  padding: 40px 60px;
}

.sectitle{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

#searchbar{
  width: 100%;
  height: auto;
  padding: 15px 15px;
  border-radius: 15px;
  background-color: #f2f2f2;
}

#searchitems{
  display: flex;
  align-items: center;
  align-content: center;
}

.searchitem1{
  margin: 0 6px;
}

#inputsearch{
  justify-self: center;
  align-self: center;
  background-color: #ffffff00;
  border: 0;
  font-size:medium;
}

#bannercontainer{
  width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #131313;
}

#bannerinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 100;
  padding: 10px;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#bannerinfo h1{
  font-size: 40px;
}

#bannerinfobutton{
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(240, 57, 57);
}

#bannerinfobutton:hover{
  cursor: pointer;
}

#bannerinfobutton p{
  font-size: large;
}

#bannercontainer img{
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  opacity: 0.5;
}

#bannercontainer:hover img{
  transform: scale(1.2); 
}





#categoriescontainer{
  align-self: center;
  width: 50%;
  height: 250px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 100px;
  gap: 20px;
  padding-left: 0px;
}

.categoriesdiv{
  position: relative;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  width: 150px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.categoriesdiv img{
  transition: transform 0.7s ease;
  width: 100%;
  height: 100%;
}

.categoriestitle{
  position: absolute;
  color: #ffffff;
  z-index: 100;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:larger;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.categoriesdiv:hover img{
  cursor: pointer;
  transform: scale(1.2); 
}

#bestsellerscontainer{
  width: 60vw;
  height: fit-content;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.bestsellersproductdiv{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;

}

.bestsellersproductdiv img{
  align-self: center;
  border-radius: 9px;
  width: 150px;
  height: 150px;
}

.bestsellersproductinfo{
  margin-top: 10px;
}

.bestsellersproductinfo h1{
  font-size: 15px;
}



#ads{
  margin-bottom: 50px;
}



.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 1200px) {

  #ads{
    display: none;
  } 
}


@media (max-width: 769px) {
  #categoriescontainer{
    width: 100%;
    height: 200px;
  }

  #bestsellerscontainer{
    width: 100%;
    gap: 20px;
  }

  #ads{
    display: none;
  } 

}


@media (max-width: 600px) {
  #categoriescontainer{
    width: 100%;
    height: 200px;
  }

  .categoriesdiv{
    height: 100%;
    background-color: #ce4d4d;
  }

  #bannercontainer{
    height: 200px;

  }

  .main {
    width: 100%;
    padding: 48px 24px;
    margin-bottom: 0px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }

  #bestsellerscontainer{
    width: 100%;
    gap: 20px;
  }

  .bestsellersproductdiv{
    width: 200px;
    height: fit-content;
  
  }

  #ads{
    display: none;
  }

  
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
